project:
  type: website

format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: styles.css
    toc: true
    # Enable additional features
    code-fold: true  # Allow folding of code blocks
    footnotes: true  # Enable footnotes for better content
    citations: true  # Support for citations if you have academic content

website:
  title: "Jonathan Whitmore's Website"
  favicon: images/favicon.ico
  twitter-card:
    creator: "@jbwhitmore"
    card-style: summary_large_image
  open-graph: true
  repo-actions: [issue]
  navbar:
    tools:
      - icon: twitter-x
        href: https://x.com/jbwhitmore
      - icon: youtube
        href: https://www.youtube.com/@JonathanWhitmore
      - icon: linkedin
        href: https://www.linkedin.com/in/jonathanbwhitmore/
      - icon: github
        menu:
          - text: Source Code
            href: https://github.com/jbwhit/website
          - text: Report a Bug
            href: https://github.com/jbwhit/website/issues/new
      - icon: rss
        href: index.xml
    background: primary
    search: true
    left:
      - text: Home
        href: index.qmd  # Use consistent file extensions
      - text: Checklists
        menu:
          - text: All Checklists
            href: checklists.qmd
          - text: Investing
            href: checklists/investing.qmd
          - text: Difference-in-Differences
            href: checklists/difference-in-differences.qmd
      - text: Physics
        menu:
          - text: UCSD Physics Qualifying Exams
            href: physics/physics-quals/index.qmd
      - text: Jupyter Mastery (Course)
        href: https://jbwhitmore.gumroad.com/l/jupytermastery
      - text: About
        href: about.qmd  # Use consistent file extensions
  sidebar:
    style: floating
    contents:
      - section: Blog Posts
        href: blog.qmd
        contents: posts
        sort: "date desc"

metadata-files: [nbdev.yml]
